section#footer
    .container.footer__container
        .footer__about 
            h2 About Us
            p It is a long established fact that a reader will be distracted by the readable content.
            p &copy; Copyright &copy; 2022 
                span Nguyen Van Long
        ul.footer__categories 
            h2 Categories
            li
                a(href="#") Entrepreneurship 
            li
                a(href="#") Media 
            li
                a(href="#") Tech 
            li    
                a(href="#") Tutorials 
        .footer_social 
            h2 Follow Us
            ul.media
                li
                    a(href="#" class="fab fa-facebook") 
                li
                    a(href="#" class="fab fa-twitter") 
                li
                    a(href="#" class="fab fa-pinterest") 
                li
                    a(href="#" class="fab fa-instagram") 
                li
                    a(href="#" class="fab fa-youtube") 
            ul.store 
                li 
                    a(href="")
                        img(src="./img/core-img/app-store.png", alt="")
                li 
                    a(href="")
                        img(src="./img/core-img/google-play.png", alt="")


            