section#newletter
    .jarallax.bg-overlay.bg-img(style="background-image: url('./img/core-img/jarallax.jpg');")
        .container.newletter__container
            .newletter__content
                h1 Sign Up To Newsletter
                p Subscribe to receive info on our latest news and episodes

            .newletter__subcribe
                form(action="" method="method")
                    input(type="text" placeholder="Your Email")
                    input(type="submit" value="SUBCRIBE" )
        
            