section#recommend
    .container
        h1.text-center Lựa chọn của Loustic
        .line.center-block
        .group-tab__name.text-center
            h3 Vpop 
            h3 US-UK 
            h3 Lofi 
        .group-tab__content
            .tab__container
                .tab__heading 
                    h2 Bài Hát
                    .btn-group 
                        .btn.btn--second.btn-addList.option 
                            i.fas.fa-download 
                                span Tải về
                        .btn.btn-playAll  
                            i.fas.fa-play
                                    span Phát tất cả
                .tab__content.vpop-tab.active
                    .container__slide.hide-on-mobile
                        .container__slide-show
                    .tab__container-list
                        .play-list.scroll-overflow 
                .tab__content.usuk-tab
                    .container__slide.hide-on-mobile
                        .container__slide-show
                    .tab__container-list
                        .play-list.scroll-overflow 
                .tab__content.lofi-tab
                    .container__slide.hide-on-mobile
                        .container__slide-show
                    .tab__container-list
                        .play-list.scroll-overflow
