doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/app.css")
        link(href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' rel='stylesheet')
    body 
        include ./includes/login
        include ./includes/header
        include ./includes/slider
        include ./includes/recommend
        include ./includes/newletter
        include ./includes/footer
        include ./includes/toast
        include ./includes/user
        include ./includes/audio
        script(src='./node_modules/jarallax/dist/jarallax.min.js')
        script(src='./js/app.js')

